* {
  margin: 0;
  padding: 0;
}
ul li {
  list-style: none;
}
body,
.mui-content {
  background-color: #fff;
}
.myheader {
  background-color: #006699;
}
.myheader h1 {
  color: #fff;
}
.myheader .mui-icon-search {
  color: #fff;
}
.myfooter {
  background-color: #006699;
}
.myfooter .mui-tab-item {
  color: #fff;
}
.myfooter .mui-tab-item.mui-active {
  color: darkorange;
}
.mui-content img {
  width: 100%;
}
.mui-content .con-links {
  padding: 10px;
}
.mui-content .con-links li a {
  float: left;
  width: 33.3%;
}
.mui-content .con-links li a img {
  vertical-align: top;
}
.mui-content .nav_berand {
  padding: 10px;
}
.mui-content .nav_berand ul > li {
  width: 25%;
  float: left;
}
.mui-content .life {
  padding: 10px;
}
.mui-content .life ul > li {
  text-align: center;
  float: left;
  padding: 5px;
  width: 50%;
}
.mui-content .life ul > li a {
  display: block;
  box-shadow: 0 0 5px #ccc;
  padding: 5px;
  overflow: hidden;
}
.mui-content .life ul > li .text {
  font-size: 14px;
  color: #8f8f94;
}
.mui-content .life ul > li p {
  font-size: 12px;
}
.mui-content .life ul > li p span {
  color: red;
  padding-right: 6px;
}
.mui-content .life ul > li p del {
  color: #ccc;
}
.mui-content .life ul > li div button {
  background-color: #006699;
  color: #fff;
}
